
.card {    
    padding: 15px;
    max-width: 400px;
    height: auto;
    margin: 10px auto;
    text-align: center;
}
body {
    background-color: rgb(224, 224, 224);
}

p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bgg    {
    background-image: url("public/img/fondo2.jpg");
}

a:link
{
    text-decoration:none;
}

